---
import { SITE } from '~/consts';
---
<header class="site-header">
  <div class="container">
    <a href="/" class="brand">
      <img src="/meetingmind_logo_240.png" alt={SITE.name} width="28" height="28" />
      <span>Meeting<span class="accent">Mind</span></span>
    </a>
    <nav>
      <a href="/blog">Blog</a>
      <a href="https://docs.meetingmind.me">Docs</a>
      <a href="/about">About</a>
      <a href="https://tumbucon.gumroad.com/l/meetingmind-pro">Pro</a>
    </nav>
  </div>
</header>
